@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary */
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  /* Light Theme */
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Grayish-Blue);
  animation: fadeIn 1s forwards;
  overflow-x: hidden;
}

.dark body {
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

.check-btn {
  animation: fadeIn 0.5s forwards;
  background-image: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

input:focus {
  outline: none;
}

.draggable {
  top: auto !important;
  left: auto !important;
}
